<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, visitez https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/c49e632f-5dd4-4c37-b1a6-578c7faa36fd/resourceGroups/m2i-formation/providers/Microsoft.Web/sites/weatherapi-allison</ResourceId>
    <ResourceGroup>m2i-formation</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://weatherapi-allison.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c9227a06-385e-4754-a547-74035d390998</ProjectGuid>
    <PublishUrl>https://weatherapi-allison.scm.azurewebsites.net/</PublishUrl>
    <UserName>$weatherapi-allison</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>